@charset "UTF-8";


/* 배경 div container */
#mother-container {
  width: 768px;
  height: 1024px;
  margin: 0px auto;
  padding: 0px;
  background-color: #e3e3e3
}






/* 왼쪽 div container */
#left-container {
  border: 1px solid #d2d2d2;
  width: 33%;
  height: 100%;
  float: left;
}


/* 왼쪽 div 최상단 */
#left-inside-top {
  height: 25%;
  background-image: url("./profile.jpg");
  background-size: 100% 100%;
}

/* 왼쪽 div 중간 */
#left-inside-middle {
  height: 20%;
}

/* 왼쪽 div 아래 */
#left-inside-bottom {
  height: 35%;
}




/* 왼쪽 icons */
#left-inside-icons {
  height: 100%;
  width: 30%;
  text-align: center;
  float: left;
  padding: 30px;
}

/* 왼쪽 text */
#left-inside-text {
  height: 100%;
  width: 70%;
  text-align: center;
  float: right;
  padding: 20px;
  border-bottom: 1px solid #6ab0e1;
}




/* 왼쪽 div 공통 속성 class */
.container-left {
  width: 100%;
  background-color: #37a4dc;
}








/* 오른쪽 div 최상단 */
#right-container-one {
  width: 55%;
  height: 33%;
}

/* 오른쪽 div 위에서 두 번째 */
#right-container-two {
  width: 55%;
  height: 33%;
}

/* 오른쪽 div 위에서 세 번째 */
#right-container-three {
  width: 55%;
  height: 15%;
}

/* 오른쪽 div 위에서 네 번째 */
#right-container-four {
  width: 55%;
  height: 5%;
}




/* 오른쪽 icons */
#right-inside-icons {
  height: 100%;
  width: 20%;
  text-align: center;
  float: left;
  padding: 30px;
}

/* 오른쪽 text */
#right-inside-text {
  height: 100%;
  width: 80%;
  text-align: center;
  float: right;
}


/* 오른쪽 text 3단 분리 */
#right-inside-text-top {
  height: 40%;
  width: 100%;
  text-align: center;
  float: right;
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
}

/* 오른쪽 text 3단 분리 */
#right-inside-text-middle {
  height: 30%;
  width: 100%;
  text-align: center;
  float: right;
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
}

/* 오른쪽 text 3단 분리 */
#right-inside-text-bottom {
  height: 30%;
  width: 100%;
  text-align: center;
  float: right;
  padding: 10px;
}



/* 오른쪽 div 공통 속성 클래스 */
.container-right {
  margin: 20px 20px 5px 40px;
  border: 1px solid #d2d2d2;
  background-color: #fafcfb;
  display: inline-block; 
}




.material-icons.md-32 { font-size: 32px; }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-blue { color: rgba(55, 164, 220, 1); }

