@charset "UTF-8";


/* 왼쪽 font setting */
font.style-left {
  font-size: 15px;
  line-height: 30px;
}

font.style-intro {
  font-size: 12px;
}

font.style-bottom {
  font-size: 15px;
}

font.style-bottom-skill {
  font-size: 12px;
}

.font-color-set {
  color: #ffffff;
}


/* 오른쪽 font setting */

#style-right-head {
  line-height: 50px;
}


#style-right-second-head {
  line-height: 35px;
}

#title-font {
  font-size: 12px;
  line-height: 40px;
}

.link-font-set {
  position: relative;
  top: 20%;
  padding: 50px;
}

.font-color-set-right {
  color: #727375;
}

.font-color-set-blue {
  color: #37a4dc;
}

.head-font-size {
  font-size: 20px;
}



/* 배경 div container */
#mother-container {
  width: 768px;
  height: 1024px;
  margin: 0px auto;
  padding: 0px;
  background-color: #e3e3e3
}






/* 왼쪽 div container */
#left-container {
  border: 1px solid #d2d2d2;
  width: 33%;
  height: 100%;
  float: left;
}


/* 왼쪽 div 최상단 */
#left-inside-top {
  height: 25%;
  background-image: url("./profile.jpg");
  background-size: 100% 100%;
}

/* 왼쪽 div 중간 위*/
#left-inside-middle {
  height: 24%;
}

/* 왼쪽 div 중간 아래 */
#left-inside-middle-second {
  height: 8%;
}

/* 왼쪽 div 아래 */
#left-inside-bottom {
  height: 35%;
}




/* 왼쪽 icons */
#left-inside-icons {
  width: 25%;
  text-align: center;
  float: left;
}

/* 왼쪽 text */
#left-inside-text {
  width: 75%;
  text-align: left;
  float: right;
}

#left-inside-text-top {
  width: 75%;
  text-align: left;
  float: right;
}

.set-border-blue {
  border-bottom: 1px solid #6ab0e1;
}

.left-inside {
  height: 100%;
  padding: 20px;
}




/* 왼쪽 div 공통 속성 class */
.container-left {
  width: 100%;
  background-color: #37a4dc;
}








/* 오른쪽 div 최상단 */
#right-container-one {
  height: 25%;
}

/* 오른쪽 div 위에서 두 번째 */
#right-container-two {
  height: 41%;
}

/* 오른쪽 div 위에서 세 번째 */
#right-container-three {
  height: 15%;
}

/* 오른쪽 div 위에서 네 번째 */
#right-container-four {
  height: 5%;
}



/* 오른쪽 icons */
#right-inside-icons {
  height: 100%;
  width: 20%;
  text-align: center;
  float: left;
  padding: 30px;
}

/* 오른쪽 text */
#right-inside-text {
  height: 100%;
  width: 80%;
  text-align: left;
  float: right;
  padding: 20px;
}




/* 오른쪽 첫번째 div text 2단 분리 */
#right-inside-text-top {
  height: 60%;
}

/* 오른쪽 첫번째 div text 2단 분리 */
#right-inside-text-bottom {
  height: 40%;
}


.right-first-text {
  width: 100%;
  text-align: left;
  float: right;
  padding: 0px;
}



/* 오른쪽 두번째 text 4단 분리 */
#right-inside-text-second-top {
  height: 30%;
}

/* 오른쪽 두번째 text 4단 분리 */
#right-inside-text-second-middle {
  height: 23%;
}

/* 오른쪽 두번째 text 4단 분리 */
#right-inside-text-second-bottom {
  height: 23%;
}

.set-border-white {
  border-bottom: 1px solid #d2d2d2;
}

.right-second {
  width: 100%;
  text-align: left;
  float: right;
  padding: 0px;
}




/* 오른쪽 div 공통 속성 클래스 */
.container-right {
  width: 60%;
  margin: 20px 20px 5px 30px;
  border: 1px solid #d2d2d2;
  background-color: #fafcfb;
  display: inline-block; 
}





.material-icons.md-32 { font-size: 32px; }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-blue { color: rgba(55, 164, 220, 1); }
.material-icons.md-black { color: rgba(114, 115, 117, 1); }

